@page
@model AssetManagement.Pages.Assets.AssetBorrowModel

@{
    ViewData["Title"] = "AssetBorrow";
}

<h1>AssetBorrow</h1>

<Form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by asset name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</Form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingAsset[0].BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingAsset[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingAsset[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingAsset[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingAsset[0].RetrurnDate)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.BorrowingAsset[0].Asset.AssetName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingAsset[0].Borrower.Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BorrowingAsset) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
                    @if (item.Status == true)
                    {
                    <td style="color: green; font-weight: bold;">
                        Đang mượn
                    </td>
                    }
                    else
                    {
                    <td style="color: red; font-weight: bold;">
                        Đã trả
                    </td>
                    }
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetrurnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower.Username)
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.BorrowingAsset.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BorrowingAsset.HasNextPage ? "disabled" : "";
}
<a asp-page="./AssetBorrow"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.BorrowingAsset.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./AssetBorrow"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.BorrowingAsset.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>